* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* layout */
header {
  position: relative;
  height: 35vh;
  border-bottom: 5px solid #ccc;
}

main {
  height: 65vh;
  color: #555;
  display: flex;
  align-items: center;
}

.between {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background-color: #333;
  color: #fff;
}

.left {
  width: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  width: 52rem;
  font-size: 2rem;
}

/* elements style */
h1 {
  font-size: 3rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number {
  background: #eee;
  color: #333;
  font-size: 4rem;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
.guess {
  background: none;
  border: 4px solid #eee;
  font-size: 3rem;
  padding: 2rem;
  width: 25rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}
.guess:active {
  outline: 0;
  border: 0;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #ccc;
}

.message {
  margin-bottom: 5rem;
  height: 3rem;
}

.label-score {
  margin-bottom: 2rem;
}

/* Add extra assignment CSS */
.reset {
  /*
    - make position as absolute
    - set bottom and right property to 0
    - making padding 2rem
    - give font-size as 2rem
    - set background-color as blue
    - make light font color #fff
  */
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2rem;
}
.reset:hover {
  /* make background-color as #0202b4 */
  background-color: #0202b4;
}
