* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  color: #333;
  line-height: 1.5;
  height: 100vh;
  position: relative;
  align-items: center;
  justify-content: center;
  background: #ccc;
}

.show {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
}
.btn:focus, .show:focus {
  outline: none;
}

.close {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 3rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

h2 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
}

.modal-footer {
  margin-top: 1rem;
}
.modal-footer .btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.275rem 0.75rem;
  background-color: #0d6efd;
  border: #0d6efd;
}
.modal-footer .btn.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

/* classes for making modal to work */
.hidden {
  /* make display to none */
}

.modal {
  /*
    - set width to 50%;
    - make position as absolute
    - make top and left as 50%
    - give transform as translate(-50%, -50%) to make dialog into center
    - give background-color to white
    - give padding 2.5rem around
    - set border-radius as 5px;
    - give box-shadow as 0 3rem 5rem rgba(0,0,0,0.3);
    - set z-index as 3 so it appears above all;
  */
}

.overlay {
  /*
    - make position to absolute
    - set top and left to 0
    - make width and height to 100%
    - give background-color to rgba(0,0,0,0.6)
    - set backdrop-filter property to blur(2px)
      See https://developer.mozilla.org/en-US/docs/Web/CSS/backdrop-filter
    - make z-index as 2
  */
}
